/* Main */
:root {
    --eggshell: #EAE7DC;
    --vanilla: #D8C3A5;
    --taupe: #8E8D8A;
    --light-red: #E98074;
    --dark-red: #E85A4F;
    --light-gray: #E0DED2;
    --dark-gray: #646560;
}

body {
    background-color: var(--eggshell);
    font-family: 'Hina Mincho', serif;
}

/* Header */
header {
    height: fit-content;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(to bottom right, var(--light-red), var(--vanilla));
    color: var(--eggshell)
}

h1 {
    font-size: 300%;
}

/* Content area */
content {
    display: flex;
    flex-direction: column;
}

hr {
    width: 60%;
    margin: auto;
    border: 1px dashed var(--vanilla);
}

/* Search city area */
#search-city {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#search-city > p > input {

    padding: 5px;
    margin: 10px;
    border: none;
    text-align: center;
    background-color: var(--light-gray);
    color: var(--dark-red);
    font-size: 23px;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

h2 {
    font-size: 200%;
    color: var(--dark-red);
}

#search-city > p > button {
    background-color: var(--light-gray);
    border: none;
    border-radius: 1.5rem;
    color: var(--dark-red);
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
}

#search-city > p > button:hover,
li > button:hover {
  background-color: var(--vanilla);
  color: var(--eggshell);
}


/* Previous searches are */
#previous-searches {
    text-align: center;
    padding: 10px;
}

#previous-searches > ul {
    font-size: 30px;
    color: var(--dark-red);
    padding: 5px;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > button {
    background-color: var(--light-gray);
    color: var(--dark-red);
    border: none;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}


/* Current weather area */
#current-weather {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: var(--dark-gray)
}

.date, .current_temp, .current_wind, .current_humidity {
    font-size: 25px;
    color: var(--light-red);
    font-weight: 500;
}

/* Forecast area */
#forecast {
    margin-top: 10px;
    text-align: center;
    color: var(--dark-gray)
}

#forecast > div {
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
}
